/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

* {
  color: #413f3d;
  font-family: "Montserrat", sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  background-color: #332c2c;
}

.btn {
  font-weight: 500;
  font-size: 0.9rem;
  font-weight: 600;
}
.bg-white-pure {
  background-color: white;
}
.bg-white {
  background-color: #e2f0f9;
}

.text-white {
  color: #fff;
}

.text-green {
  color: #41d3bd;
}

.text-blue {
  color: #3578fa !important;
}

.text-lightblue {
  color: #a6c5ee;
}
.text-grey {
  color: #cccccc;
}
.bg-blue {
  background-color: #1c60d5;
}

.btn-blue {
  display: block;
  float: left;
  border: #41d3bd solid 1px;
  color: #fff;

  background: #41d3bd;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.btn-blue:hover {
  color: white;
}

.btn-blue.xs {
  padding: 5px 25px;
}

.btn-trans.xs {
  padding: 5px 25px;
}

.btn-blue.long {
  padding: 6px 55px;
}

.btn-trans {
  display: block;
  float: left;
  border: black solid 1px;
  color: black;
  background: transparent;
  outline: none;
  cursor: pointer;
  padding: 10px 35px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  border-radius: 10px;
}

.btn-trans.long {
  padding: 6px 55px;
}

.front-card {
  background-color: white;
  box-shadow: grey 0px 0px 12px;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.front-card strong {
  color: #3c84e8;
  font-size: 24px;
  font-weight: 700;
  display: block;
}

.front-card b {
  color: #413f3d;
  font-size: 50px;
  font-weight: 700;
}

.front-card-star span {
  color: #3c84e8;
  font-size: 24px;
}

.front-card small {
  font-size: 18px;
}

.box-rate {
  font-weight: 700;
  font-size: 50px;
}

.box-rate span {
  font-size: 20px;
  font-weight: 400;
}

.front-card a {
  display: block;
  padding: 5px;
  width: 70%;
  margin: 20px auto 0;
  text-align: center;
  border-radius: 25px;
  background-color: #1c60d5;
  color: white;
}

.front-card a:hover {
  box-shadow: #3578fa 0px 0px 12px;
  color: white;
}

.header-content h2 {
  font-weight: 400;
  color: #3c84e8;
}
.header-content strong {
  font-weight: 700;
  color: #3c84e8;
}
.header-content-underline {
  width: 50px;
  float: left;
  display: block;
  border-top: #3c84e8 solid 2px;
}

.top-box-right {
  background-color: white;
  border-radius: 30px;
  box-shadow: #bdd2d2 7px 7px 20px;
  padding: 30px;
  display: block;
  margin: auto;
  width: 300px;
  height: 300px;
}

li {
  list-style: none;
}

.sosmed li span {
  font-size: 30px;
  color: #3c84e8;
  position: relative;
  top: 5px;
}

.mt-170 {
  margin-top: 170px;
}

.videos {
  width: 100%;
  height: auto;
  box-shadow: #807e7c 0px 0px 8px;
  overflow: hidden;
}

.videos img {
  width: 100%;
}

.screenshot {
  width: 100%;
  height: auto;
  box-shadow: #807e7c 0px 0px 8px;
  overflow: hidden;
}

.screenshot img {
  width: 100%;
}

.star-rating {
  color: #3c84e8;
  font-size: 20px;
}

.badge p {
  margin-bottom: 7px;
  padding: 5px 5px;
  border: solid 1px #3c84e8;
  color: #3c84e8;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
}

.right-box {
  width: 100%;
  box-shadow: #cacaca 8px 7px 20px;
  padding: 15px;
  border-radius: 30px;
  margin-bottom: 45px;
}

/* @media (max-width: 768px) and (min-width: 576px) {
    .right-box {
        width: 45%;
        float: left;
        margin-right: 10px;
    }
} */

.right-box.two {
  box-shadow: none;
  background-color: #e2f0f9;
}

.right-box.three {
  box-shadow: #cacaca 8px 7px 20px;
  background-color: white;
}

.right-box h2 {
  font-weight: 400;
  color: #3c84e8;
  text-align: center;
}

.right-box strong {
  color: #3c84e8;
}

.vs-wrap {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.vs {
  width: 37px;
  height: 37px;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  color: white;
  border-radius: 50%;
  background-color: #3578fa;
}

.vs span {
  color: white;
  position: relative;
  top: 0px;
}

.text-cyan {
  color: #22cafa !important;
}

.text-black {
  color: black !important;
}

.pricing-box {
  background-color: #3c84e8;
  padding: 20px 30px;
  border-radius: 30px;
  margin-bottom: 30px;
}

.pricing-box * {
  color: white;
}

.pricing-box h3,
.pricing-box h1 {
  text-align: center;
}

.app-title {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.app-title-biger {
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
}

.permonth {
  line-height: normal;
  font-size: 14px;
  font-weight: 200;
  position: relative;
  top: 15px;
}

.dollar {
  font-size: 42px;
  font-weight: 700;
}

.price-column {
}
.pricing-number strong {
  font-size: 2.2rem;
  font-weight: 700;
}

.pricing-number span {
  font-weight: 300;
  font-size: 1.2rem;
  position: relative;
  top: -12px;
  left: -3px;
}

.price-bg:nth-child(even) {
  background-color: #ddeaf3;
}
.column-top {
  padding: 25px 15px;
  border-bottom: 1px solid #e2e2e2;
}

@media (min-width: 577px) {
  .column-top {
    min-height: 460px;
  }
}
.column-top * {
  text-align: center;
}

.column-btm {
  padding: 25px 15px;
}

.icon-circle.satu {
  color: #3c84e8;
  font-size: 0.7rem;
  margin-right: 8px;
}

.altp-left {
  padding: 15px 0;
}

.altp-left * {
  text-align: center;
}

.altp-left img {
  width: 100%;
  height: auto;
}

.altp-mid {
  padding: 25px 20px;
  box-shadow: #bdd2d2 7px 7px 20px;
  border-radius: 20px;
  text-align: center;
}

.features {
  box-shadow: #bdd2d2 5px 5px 7px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.features span {
  color: #3c84e8;
}

.features.disabled span {
  color: #cccccc;
}

.features.disabled {
  box-shadow: none;
}

.review-img {
  overflow: hidden;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  margin-bottom: 10px;
}
.review-img.small {
  width: 100%;
  height: auto;
}

.review-img.small img {
  width: 100%;
  height: auto;
}
.review-img img {
  text-align: center;
  width: 125px;
  height: 125px;
}

.coupon-wrapper {
  background-color: #e2f0f9;
  border-radius: 20px;
}

.sort-box-inside {
  display: inline-block;
  /* border-bottom: solid 1px #e2e2e2; */
}
.sort-box-inside .sort-alternatives {
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 5px;
  display: inline-block;
  color: #717171;
  font-weight: 400;
}
.sort-box-inside label {
  padding: 5px 10px;
  margin-bottom: 0;
  cursor: pointer;
  margin: 0 8px;
}

.sort-box-inside input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.sort-box-inside input:checked + label {
  border-bottom: solid 3px #41d3bd;
  font-weight: 700;
  color: black;
  cursor: default;
}

.sort-box-inside .sort-alternatives.active {
  border-bottom: solid 3px #41d3bd;
  font-weight: 700;
  color: black;
  cursor: default;
}

.pointer {
  cursor: pointer !important;
}

.absolute-mid {
  position: absolute;
  top: 50%;
}

.absolute-btm {
  position: absolute;
  bottom: 0px;
}

.search-box {
  width: 250px;
  float: left;
  padding: 6px;
  margin-left: 40px;
  height: 50px;
}

.search-box input {
  display: inline-block;
  border-radius: 20px 0 0 20px;
  padding: 5px 10px;
  border-top: solid 1px #3c84e8;
  border-left: solid 1px #3c84e8;
  border-bottom: solid 1px #3c84e8;
  border-right: none;
  background-color: transparent;
}

.search-box input:focus {
  outline: none;
}

.search-icon {
  display: inline-block;
  border-radius: 0 20px 20px 0;
  padding: 5px;
  border-top: solid 1px #3c84e8;
  border-right: solid 1px #3c84e8;
  border-bottom: solid 1px #3c84e8;
  border-left: none;
  margin-left: -4px;
}

.search-icon span {
  padding-left: 5px;
  padding-right: 5px;
}

.bg-wave {
  width: 100%;
  height: 120px;
  background: url(../img/bg/wave-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.long-p {
  height: 132px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.mini-p {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 85px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.logo_normal,
.logo_sticky {
  width: 45px;
}

.main-logo {
  width: 170px;
  margin-top: 50px;
}

.fancybox-caption__body {
  color: white !important;
}

.fancybox-infobar span {
  color: white !important;
}

.or {
  font-weight: 700;
  color: #3c84e8;
  font-style: normal !important;
}

#custom-register {
  transition: all 1s ease-out;
}

#custom-login {
  transition: all 1s ease-out;
}

.custom-nav .nav-item {
  margin-bottom: 0;
}

.nav-tabs.custom-nav .nav-item.show .nav-link,
.nav-tabs.custom-nav .nav-link.active {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: solid 3px #41d3bd;
  font-weight: 700;
}

.nav-tabs.custom-nav .nav-link {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: solid 3px transparent;
  color: black;
}

.nav-tabs.custom-nav {
  border-bottom: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #41d3bd;
  border-color: #41d3bd;
}

.footer-logo {
  width: 100%;
}
@media (max-width: 576px) {
  .footer-logo {
    width: 30%;
    margin: 0px 115px;
  }
}

.lead {
  color: #a5a4a4;
}

.home-top {
  position: relative;
}

.home-top .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: #ffffff;
}

.input-big {
  width: 100%;
  display: inline-block;
  border-radius: 20px;
  padding: 10px 13px;
  border: solid 1px #3c84e8;
  background-color: transparent;
  outline: none;
  margin-bottom: 15px;
}

.input-big::placeholder {
  color: #cccccc;
  font-weight: 600;
}

.computer-img {
  width: 100%;
}

.btn-search {
  width: 40%;
  padding: 8px 10px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.big-search h1 {
  font-weight: 800;
}

.most-pop-tabs.nav-tabs {
  border: none;
}
.most-pop-tabs.nav-tabs .nav-link {
  border: none;
  color: #413f3d;
  font-size: 18px;
  padding: 0px 10px;
  border-radius: 0;
  margin-bottom: 15px;
  border-left: solid 5px transparent;
}

.most-pop-tabs.nav-tabs .nav-link.active {
  font-weight: 700;
  border-left: solid 5px #41d3bd;
}

.most-pop-box {
  border-radius: 20px;
  box-shadow: #cacaca 8px 7px 20px;
  padding: 12px;
  min-height: 150px;
}

.most-pop-box strong {
  font-size: 16px;
}

.most-pop-box img {
  width: 80%;
  text-align: center;
  margin: 10px auto 0 auto;
  display: block;
}

.star-popular span {
  color: #3c84e8;
  font-size: 14px;
}
.rated-text {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  margin-left: 5px;
}

.sotw-h2 {
  font-weight: 700;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 0;
}

.bg-soft {
  background-color: #e2f0f9;
}

.bg-grey {
  background-color: #f8f8f8;
}

.title-apps {
  font-weight: 700;
  font-size: 20px;
}

.latest-softwares-h2 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  width: 100%;
}
.custom-border-green {
  display: block;
  margin: 0px auto 0 auto;
  width: 100px;
  border-bottom: solid 3px #41d3bd;
}

.latest-carousel {
  padding: 20px;
  box-shadow: #cacaca 3px 2px 15px;
  border-radius: 20px;
  background-color: white;
}

.my-badge {
  padding: 4px 15px;
  display: inline-block;
  border-radius: 20px;
  background-color: #e2f0f9;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 15px;
}

.entry-level {
  font-size: 12px;
}
.latest-carousel img {
  /* width: 70px; */
}

.carousel-desc {
  font-size: 12px;
}

.lukas {
  font-size: 20px;
  font-weight: 700;
}

@media only screen and (min-width: 992px) {
  .main-menu > ul > li span > a.active {
    color: #3578fa;
    padding: 0 30px 15px 30px;
    font-size: 14px;
    font-size: 1rem;
    font-weight: 500;
  }
  header.sticky .main-menu > ul > li span > a.active,
  header.header_in .main-menu > ul > li span > a.active {
    color: #3578fa;
  }
}

.about-description {
  width: 100%;
  padding: 5rem 0;
  text-align: left;
}
.about-photo-wrapper {
  width: 100%;
  display: block;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: #bdd2d2 7px 7px 20px;
}
.about-photo-wrapper-2 {
  width: 100%;
  display: block;
  overflow: hidden;
  border-radius: 20px;
}

.about-description strong {
  font-size: 12px;
  font-weight: bold;
  color: #41d3bd;
  margin-bottom: 15px;
}

.mt-120 {
  margin-top: 120px;
}

.about-description p {
  margin-bottom: 30px !important;
}

.tagline {
  font-size: 34px;
  font-weight: 700;
  color: #3c84e8;
  margin-bottom: 10px;
}
.about-photo {
  width: 100%;
  height: auto;
}

.our-team-h2 {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  width: 100%;
}
.title-profile h4 {
  margin: 0;
  color: white;
  font-size: 20px;
}
.title-profile b {
  color: white;
  font-weight: 400;
}
.title-profile {
  position: absolute;
  min-width: 200px;
  padding: 7px 15px;
  border-radius: 20px;
  right: -10px;
  bottom: 20px;
  background-color: #41d3bd;
  color: white;
}

.owl-carousel .owl-stage-outer {
  /* overflow: unset; */
}

.main-review {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}

.scroll-spy-body {
  position: relative;
}

.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

a.active > .border-green {
  border-left: 3px solid #41d3bd;
  height: 10px;
  display: inline;
  margin-right: 10px;
}

.border-green {
  border-left: 3px solid transparent;
  height: 10px;
  display: inline;
  margin-right: 10px;
}

.faq-heading h4 {
  text-align: left;
  color: #41d3bd;
  margin-bottom: 15px;
}
.faq-heading p {
  text-align: left;
  color: black;
  margin-bottom: 25px !important;
}

.custom-border-blue {
  border-bottom: 3px solid #3c84e8;
  width: 50px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.list-wrap {
  background-color: #e2f0f9;
  padding: 20px 30px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #3578fa;
  margin-bottom: 10px;
}

.search-icon-filter {
  display: inline-block;
  border-left: solid 1px #3578fa;
  border-top: solid 1px #3578fa;
  border-bottom: solid 1px #3578fa;
  border-right: none;
  border-radius: 20px 0 0 20px;
  padding: 5px 10px;
}
.search-icon-filter .icon_search {
  font-weight: 700;
  color: #1c60d5;
}

.search-box-2 {
  width: 100%;
  margin-bottom: 10px;
}

.search-box-2 input {
  display: inline-block;
  border: solid 1px #3578fa;
  border-left: none;
  border-top: solid 1px #3578fa;
  border-bottom: solid 1px #3578fa;
  border-right: solid 1px #3578fa;
  padding: 5px 10px;
  border-radius: 0px 20px 20px 0;
  margin-left: -4px;
  outline: none;
}

.filter-section {
  text-align: left;
}

.filter-section-title {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 5px;
}

.custom-control.custom-checkbox.custom-checkbox-filter {
  display: inline-block;
}

.custom-control-label::before {
  border: #3578fa solid 1px;
}

.show-more {
  color: #22cafa;
  font-weight: 700;
  text-align: left;
}

.show-more:hover {
  color: #22cafa;
}

.show-more:focus {
  color: #22cafa;
}

.toggle-filter {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  color: #3578fa;
}

.filter-trigger {
  display: block;
  font-size: 20px;
  border-radius: 20px;
  font-weight: 700;
  color: black !important;
  width: 100%;
  color: #3c84e8 !important;
}

.collapse-filter-box {
  border-radius: 20px;
  border: solid 1px #3c84e8;
  padding: 10px 20px;
}
